# Node
node_modules/
npm-debug.log*
dist/
.env
.env.*

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
crash.log
override.tf
override.tf.json

# AWS
.aws-sam/

# Build artifacts
*.zip
*.tgz

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db
terraform.tfvars
